ECHO is on.
# Ignoruj katalog node_modules
node_modules/

# Ignoruj pliki tymczasowe systemu Windows
Thumbs.db
desktop.ini

# Ignoruj pliki logów
*.log

# Ignoruj folder build/ lub dist/
build/
dist/

# Ignoruj pliki konfiguracji IDE
.vscode/
.idea/

# Ignorowanie plików o zbyt długich ścieżkach w Android build
pike/android/app/.cxx/Debug/*

# Ignorowanie wszystkich plików w folderze .cxx
pike/android/app/.cxx/*

# Ignorowanie plików .o
pike/android/app/.cxx/**/*.o
